body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1A150C;
    color: white;
}


/*barra de navegação*/
.sidebar {
    height: 50vh;
    width: 10vw;
    position: fixed;
    top: 150px;
    background-color: #F6D323;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}


.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 10vw;
    height: auto;
}

.nav-options {
    list-style-type: none;
    padding: 0;
}

.nav-options li {
    padding: 10px 15px;
    text-align: center;
}

.nav-options li a {
    text-decoration: none;
    color: #1A150C;
    display: block;
}

.nav-options li a:hover {
    background-color: beige;
    border-radius: 100px;
}

/* Estilo quando a barra de navegação está visível */
.sidebar.visible {
    transform: translateX(0);
}

@media (max-width: 768px) {
    
    .sidebar {
        height: auto;
        width: 100%;
        top: 0;
        border-radius: 0;
        transform: translateY(-100%);
    }

    .logo {
        text-align: center;
        background-color: #F6D323;
        border-radius: 100%;
        margin-bottom: 30px;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1000;
    }

    .nav-options {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .sidebar.visible .nav-options {
        display: flex;
    }

    .sidebar.visible {
        transform: translateY(0);
    }
}

/*Home*/
.Home-conteiner{
    background-image: url('./img/HomeIMG.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.Home-conteiner h1{
    font-size: 50px;
    text-align: center;
    color: #1A150C;
    background-color: #f6efcd72;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

.seta img {
    width: 4vw;
    height: auto;
    background-color: #f6efcd87;
    border-radius: 100px;
    animation: moveUpDown 2s infinite;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/*History*/

.history-conteiner{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}

.img-history{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin: 4vw;
}

.img-history img{
    width: 15vw;
    height: auto;
    margin: 2vw;
    border-radius: 100%;
}

.text-history{
    width: 35vw;
    padding: 1vw;
    margin: 4vw;
}

.text-history h2{
    font-size: 2.5vw;
    text-align: center;
}

.text-history p{
    font-size: 1.2vw;
    text-align: justify;
}

strong{
    color: #F6D323 ;
}

@media (max-width: 768px) {
    .history-conteiner{
        flex-direction: column;
        justify-content: center;
        top: auto;
    }
    
    .img-history{
        flex-direction: row;
        margin: 0 auto;
    }
    
    .img-history img{
        width: 30vw;

    }

    .text-history{
        width: 60vw;
        margin: 0 auto;
    }

    .text-history h2{
        font-size: 3.5vw;
    }
    
    .text-history p{
        font-size: 2vw;
    }
}

/*recipe*/
.recipe-container {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0 0.5rem 0.5rem;
}

.gallery-wrapper {
    width: 80%;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.gallery-item {
    margin: 0.1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
    filter: brightness(0.7);
}

.gallery-image:hover {
    transform: scale(1.15);
    filter: brightness(1);
}

/*Contact*/

.contact-conteiner{
    background-image: url(img/HomeIMG.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.team{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.membro{
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #F6D323;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

.membro img{
    width: 150px;
    height: auto;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

.membro button{
    margin: 0 auto;
   width: 80%;
   height: 50px;
   margin-top: 10px;
   border-radius: 10px;
   border-width: 0;
   background-color:beige;
   box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);

}

.membro button:hover{
   background-color:#f6d32372;

}

.membro a{
    text-decoration: none;
    color: #1A150C;
}

.membro h3{
    color:#1A150C;
    margin: 3px;
    font-size: 15px;
    
}

/*receita*/

.home-receita{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #F6D323;
}

.home-receita-conteiner{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.receita-img img{
    width: 25vw;
    height: auto;
    border-radius: 5%;
}

.receita-history{
    width: 40vw;
}

/* Estilos para a tabela */
.tabela-receita {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse; /* Remover espaços entre bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionar sombra */
}

table {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #F6D323;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4; /* Cor de fundo do cabeçalho */
    font-weight: bold; /* Texto em negrito */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo alternada */
}

/* Estilos para o passo a passo */
.modo-de-preparo {
    width: 80%;
    margin: 20px auto; /* Margem superior para espaçamento */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ddd; /* Borda */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionar sombra */
}

.modo-de-preparo h2 {
    margin-bottom: 15px; /* Espaçamento inferior */
    font-size: 1.5em; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
}

.modo-de-preparo ol {
    padding-left: 20px; /* Recuo da lista ordenada */
}

.modo-de-preparo li {
    margin-bottom: 10px; /* Espaçamento entre os itens */
    line-height: 1.6; /* Altura da linha */
}